{% extends "base.html" %}

{% block title %}Entries{% endblock %}

{% block content %}
  <div class="page-header">
    <h2>Entries</h2>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">New Entry</h3>
    </div>

    <div class="panel-body">
      <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" name="submit" value="Create Entry">
        <input class="btn btn-primary" type="submit" name="submit_end_now" value="Create Entry with End Now">
      </form>
    </div>

  </div>

  <ul class="list-group col-md-3">
    {% for entry in entry_list %}
      <li class="list-group-item">{{ entry.description }}</li>
    {% endfor %}
  </ul>
{% endblock %}
